//
   Created by lianghongrong on 2016/3/30 0030.
include header
.contact
    .container
        h1 留言/建议
        .contact-form
            .col-md-8.contact-grid
                form
                    input(type='text', placeholder="姓名")
                    input(type='text', placeholder="邮箱地址")
                    input(type='text', placeholder="主题")
                    textarea(cols='77', rows='6', value=' ',placeholder="留言内容")
                    .send
                        input(type='submit', value='发 送')
            .col-md-4.contact-in
                .address-more
                    h4 公司地址：
                    p 一呼租车,
                    p 广东省深圳市,
                    p 宝安区沙井镇博岗.
                .address-more
                    h4 联系方式：
                    p Tel:1115550001
                    p Fax:190-4509-494
                    p
                        | Email:
                        a(href='mailto:yihu@yihu.com')  yihu@yihu.com
            .clearfix
 include footer