.footer
    .container
        .footer-top-at
            .col-md-4.amet-sed
                h4 更多帮助
                ul.nav-bottom
                    li
                        a(href='#') 如何租车
                    li
                        a(href='#') FAQ
                    li
                        a(href='contact.html') 如何缴纳保证金
                    li
                        a(href='#') 付款方式
                    li
                        a(href='#') 服务保障
            .col-md-4.amet-sed
                h4 联系我们
                p
                    | 可以通过以下方式找到我们
                p 办公电话:  +12 34 995 0792
                ul.social
                    li
                        a(href='#')
                            i
                    li
                        a(href='#')
                            i.twitter
                    li
                        a(href='#')
                            i.rss
                    li
                        a(href='#')
                            i.gmail
            .col-md-4.amet-sed
                h4 订阅我们
                p
                    | 提交邮箱地址以更好获取我们的优惠信息
                form
                    input(type='text', value='', onfocus="this.value='';", onblur="if (this.value == '') {this.value ='';}")
                    input(type='submit', value='提 交')
            .clearfix
    .footer-class
        p Copyright © 2015.Company hrope.cn All rights reserved.More Templates
