//
   Created by lianghongrong on 2016/3/30 0030.

include header
.blog
    .container
        h1 租车/优惠大杂烩
        .blog-top
            .col-md-6.grid_3
                h3
                    a(href='blog_single.html') 春季出行，少了辆车肿么办？
                a(href='blog_single.html')
                    img.img-responsive(src='images/b1.jpg', alt='')
                .blog-poast-info
                    ul
                        li
                            a.admin(href='#')
                                i
                                |  一呼租车
                        li
                            span
                                i.date
                                | 12-03-2016
                        li
                            a.p-blog(href='#')
                                i.comment
                                | 评论文章
                p
                    | 带上一家四口，呼吸春天的气息，携Pacifica 2016款 e Hybrid 家用MVP
                .button
                    a(href='#') 阅读更多
            .col-md-6.grid_3
                h3
                    a(href='blog_single.html') 眼见为实 测试沃尔沃XC90 T5 智逸版
                a(href='blog_single.html')
                    img.img-responsive(src='images/b2.jpg', alt='')
                .blog-poast-info
                    ul
                        li
                            a.admin(href='#')
                                i
                                |  一呼租车
                        li
                            span
                                i.date
                                | 12-04-2015
                        li
                            a.p-blog(href='#')
                                i.comment
                                | 评论文章
                p
                    | 已经看过了关于T6车型的全面测试，关于T8以及T5版本的海外试驾，但我对它的理解依然只能停留在页面上，只能靠想象来丰富印象。所谓耳听为虚，眼见为实，沃尔沃XC90是一款怎样的车？
                .button
                    a(href='#') 阅读更多
            .clearfix
        .blog-top
            .col-md-6.grid_3
                h3
                    a(href='blog_single.html') 一颗上进心 测试新款本田雅阁 2.4L
                a(href='blog_single.html')
                    img.img-responsive(src='images/b3.jpg', alt='')
                .blog-poast-info
                    ul
                        li
                            a.admin(href='#')
                                i
                                |  一呼租车
                        li
                            span
                                i.date
                                | 11-06-2015
                        li
                            a.p-blog(href='#')
                                i.comment
                                | 评论文章
                p
                    | 中型车的风格或许本来就应该保守稳重一些，更何况它是雅阁。不过新款雅阁却给人感觉十分上进，它学起了年轻人，开始追上最新的科技装备，例如CarPlay，也追求动感的风格，看看那全LED大灯有多炫就知道了。
                .button
                    a(href='#') 阅读更多
            .col-md-6.grid_3
                h3
                    a(href='blog_single.html') 颜值至上 测试雷克萨斯RC 200t F SPORT
                a(href='blog_single.html')
                    img.img-responsive(src='images/b4.jpg', alt='')
                .blog-poast-info
                    ul
                        li
                            a.admin(href='#')
                                i
                                |  一呼租车
                        li
                            span
                                i.date
                                | 02-01-2015
                        li
                            a.p-blog(href='#')
                                i.comment
                                | 评论文章
                p
                    | 在初春时节，我们终于拿到了雷克萨斯RC 200t F SPORT的试驾车。相信大多数人都会被它充满锐利折角的外表吸引住，在我们拍摄的时候、在我们堵车的时候，路人的反应印证了这个想法。它拥有一切雷克萨斯新世代的家族特征、一切吸引目光的元素，即使你遇见的，不是我们这次借到的、如此骚气的炙橙色。
                .button
                    a(href='#') 阅读更多
            .clearfix
        .blog-bottom
            .col-md-6.grid_3
                h3
                    a(href='blog_single.html') 年轻就需要激情 宝马M2 7DCT性能测试
                a(href='blog_single.html')
                    img.img-responsive(src='images/b5.jpg', alt='')
                .blog-poast-info
                    ul
                        li
                            a.admin(href='#')
                                i
                                |  一呼租车
                        li
                            span
                                i.date
                                | 11-05-2015
                        li
                            a.p-blog(href='#')
                                i.comment
                                | 评论文章
                p
                    | 什么是驾驶带来的激情？当推背感产生时，肾上腺素会大量分泌，这是人体内一种神奇的化学反应，反应发生时通常都会心跳加速并且冒汗，当然，最终的产物自然是快感。若推背感与驾驶乐趣同时出现，快感则得到提升，达到了一种癫狂的状态，如果你还年轻，那么应该好好享受这种激情。
                .button
                    a(href='#') 阅读更多
            .col-md-6.grid_3
                h3
                    a(href='blog_single.html') 霸道成瘾 测试宾利慕尚2015款 极致版
                a(href='blog_single.html')
                    img.img-responsive(src='images/b6.jpg', alt='')
                .blog-poast-info
                    ul
                        li
                            a.admin(href='#')
                                i
                                |  一呼租车
                        li
                            span
                                i.date
                                | 12-06-2015
                        li
                            a.p-blog(href='#')
                                i.comment
                                | 评论文章
                p
                    | 因为曾经征服过凶悍强大的对手，于是无法再接受四平八稳，进取好斗已经成为了生活中的一部分。因为每天都在指挥千军万马，所以当司机在车道中犹豫不决的时候总是会坐不住，掌握自己的方向已经成为一种本能。
                .button
                    a(href='#') 阅读更多
            .clearfix
include footer