//
   Created by lianghongrong on 2016/3/30 0030.

include header
.blog
    .container
        .blog-top
            .grid_3.grid-1
                h3
                    a(href='blog_single.html') 颜值至上 测试雷克萨斯RC 200t F SPORT
                a(href='blog_single.html')
                    img.img-responsive(src='../images/blo.jpg', alt='')
                .blog-poast-info
                    ul
                        li
                            a.admin(href='#')
                                i
                                |  一呼租车
                        li
                            span
                                i.date
                                | 12-04-2015
                        li
                            a.p-blog(href='#')
                                i.comment
                                | 评论文章
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            .single-bottom
                h3 发表评论
                form
                    input(type='text',placeholder="姓名")
                    input(type='text', placeholder="邮箱")
                    input(type='text', placeholder="主题")
                    textarea(cols='77', placeholder="留言内容，不少于10字")
                    input(type='submit', value='发送')
include footer